.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .login-form {
    background-color: var(--sidebar-color);
    padding: 0.8rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    transition: var(--tran-05);
    flex-direction: column;
  }
  
  .logo-fesa {
    display: block;
    margin: 0 auto 1rem auto;
  }
  
  .login-form .input-component label {
    font-weight: bold;
    text-align: start;
  }
 
  
  
  
  .login-form a {
    display: block;
    text-align: right;
    margin-top: 0.75rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--tran-03);
  }
  
  .login-form a:hover {
    color: var(--color-2);
  }
  
  @media (max-width: 480px) {
    .login-form {
      padding: 1rem;
    }
  
    .login-form .input-component .text-input {
      padding: 0.5rem;
    }
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: var(--primary-color);
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary-color),black);
    border-image-slice: 1;
  }
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }
