.input-component {
  margin-bottom: 1.5rem;
  width: 100%;
}

.input-component label {
    display: flex;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--color-text-primary);
    font-size: 0.9rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-component .required {
  color: var(--color-error);
  margin-left: 4px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper .text-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-border-light);
  border-radius: 4px;
  font-size: 0.9rem;
  color: #7e7d7d;
  background-color: var(--color-bg-primary);
  transition: all 0.3s;
}

.input-wrapper .text-input:hover {
  border-color: var(--color-primary);
}

.input-wrapper .text-input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(247, 152, 74, 0.2); /* color-primary con opacidad */
}

.error-message {
  color: var(--color-error);
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

/* Dark mode */
[data-theme="dark"] .input-component label {
  color: var(--color-text-primary);
}

[data-theme="dark"] .input-wrapper .text-input {
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-bg-primary);
  color: #7e7d7d;
}

[data-theme="dark"] .input-wrapper .text-input:hover {
  border-color: var(--color-primary);
}

[data-theme="dark"] .input-wrapper .text-input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(255, 169, 92, 0.2); /* color-primary oscuro con opacidad */
}

[data-theme="dark"] .error-message {
  color: var(--color-error);
}
