@import '../../../src/index.css';
.main-client{
    padding-inline: 7%;
}
.main-cont-client{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: fit-content;
    margin: 20px auto;
    padding: 1%;
}
.main-cont-client .left{
    padding-top: 20px;
    flex: 3;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.main-cont-client .right{
    flex: 1;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   
}
.right-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}