.productos-contenedor{
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.cardsProducto-contenedor{
    margin:15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-items: center;
}

.form__input {
    /*width: clamp(120px, 50vw, 420px);*/
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}