@import '../../../src/index.css';
.factura-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.factura-container h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.factura-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.factura-container input,
.factura-container select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.factura-container input:focus,
.factura-container select:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.form-row {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.form-row .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-row .item-field {
  flex: 1.8;
}

.form-row .cantidad-field,
.form-row .descuento-field
{
  flex: 0.6;
}
.form-row .precio-field
 {
  flex: 1;
}
.form-row label {
  white-space: nowrap;
  font-size: 0.9rem; 
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 2%;
}

.form-buttons button,
.btn-back {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-buttons button[type='submit'] {
  background-color: #007bff;
  color: white;
}

.form-buttons button[type='submit']:hover {
  background-color: #0056b3;
}

.btn-back {
  background-color: var(--secondary-color);
  color: white;
}

.error-message {
  color: #dc3545;
  font-size: 0.9em;
  margin-top: 5px;
  width: 100%;
}

.btn-clear {
  background-color: #dc3545;
  color: white;
}

.btn-no-fact {
  background-color: coral;
  color: white;
  border-radius: 6px;
}

.btn-enabled {
  opacity: 1;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.bot-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 2%;
}

/* @media (max-width: 768px) {
  .form-row {
    flex-direction: column; 
  }

  .form-row .form-group {
    width: 100%; 
  }

  .form-row label {
    white-space: normal;
  }
} */