.cardP {
  position: relative;
  padding: 0;
  width: 290px;
  max-width: 50%;
  min-height: 500px;
  box-shadow: -1px 15px 30px -12px rgba(32, 32, 32, 0.4);
  border-radius: 0.9rem;
  /* border: 1px solid var(--primary-color); */
  line-height: 0.9;
  text-align: start;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
}

.cardP h2 {
  height: 40px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  margin: 0;
  padding: 5px 0; 
  font-size: 1.2rem; 
  line-height: 1.2; 
}

.cardP img {
  height: 200px; 
  width: 100%;
  border-radius: 10px 10px 0 0; 
  margin: 0; 
  object-fit: cover;
  display: block; 
}

.cardFooter {
  justify-content: space-between;
  display: flex;
  padding: 5px 0;
  margin-top: auto; 
}

.cabecera-card {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 5px;
}
.cabecera-card div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cabecera-card div .icon{
  color: var(--primary-color);
  font-size: 1.2rem;
}
.cabecera-card div .icon:hover{
  color: var(--secondary-color);
  cursor: pointer;
}

.cabecera-card button {
  border-radius: 15px;
  border: solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}

.cardP p {
  margin: 5px 0;
  line-height: 1.8;
}

.cardP strong {
  font-weight: bold;
}
.desc-larga{
  display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: normal;
    height: auto;
    margin: 0; 
    line-height: 1.2; 
    position: relative; 
}
.data-cont {
  padding: 1rem;
  flex: 1; 
  display: flex;
  flex-direction: column;
}
