.checkday-control {
    font-weight: bold;
    line-height: 1.1;
    display: inline-flex;
    grid-template-columns: 1em auto;
    text-align: center;
  }

  select {
    border: 0;
    outline: 0;
    font: inherit;
    width: 90%;
    padding: 8px;
    background: black no-repeat right 0.8em center / 1.4em, #fff;
    color: black;
    border-radius: 3px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
 .item-horario button{
  margin-left: 1%;
  height: 1.5rem;

 }
 .item-horario button:hover{
  background-color: #28a745;
  color: white;
 }  
 .item-horario td{
  align-items: top;
 }
 .item-horario select{
  margin-bottom: 1rem;
  margin-top: 1rem;
 }