  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }


  .chard-paciente-main-cont img {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .chard-paciente-main-cont img:hover {
    transform: scale(1.05);
  }



.user-management-container {
  padding: clamp(15px, 2vw, 35px);
  margin-top: clamp(10px, 2vh, 20px);
  width: 100%;
  max-width: 1920px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-bg-primary);
}

.user-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(15px, 3vh, 30px);
  flex-wrap: wrap;
  gap: 15px;
}

.user-management-title {
  font-size: clamp(20px, 2vw, 24px);
  color: var(--text-color);
}

.user-management-table {
  background-color: var(--sidebar-color);
  padding: clamp(10px, 2vw, 20px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: var(--tran-03);
  overflow-x: auto;
  width: 100%;
}

.clickable-photo:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .user-management-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-management-filter {
    max-width: 100%;
  }
}

@media print {
  .user-management-container {
    padding: 0;
    margin: 0;
  }

  .user-management-table {
    box-shadow: none;
    padding: 0;
  }

  .user-management-table-actions,
  .user-management-filter {
    display: none;
  }
}

[data-theme="dark"] .user-management-container {
  background-color: var(--color-bg-secondary);
  color: var(--text-color);
}