.user-management-container {
    padding: 15px;
    padding-left: 35px; 
    padding-right: 15px;
    margin-top: 20px;
  }
  
  .user-management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-management-title {
    font-size: 24px;
    color: var(--text-color);
  }
  
  .user-management-table {
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: var(--tran-03);
  }
  
  .user-management-table th, .user-management-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-management-table th {
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-weight: bold;
  }
  
  .user-management-table td {
    color: var(--text-color);
  }
  
  .user-management-table tr:hover {
    background-color: var(--primary-color-light);
  }
  
  .user-management-table-actions {
    display: flex;
    gap: 8px;
  }
  
  .user-management-filter {
    margin-bottom: 15px;
    max-width: 300px;
  }
  
  @media (max-width: 768px) {
    .user-management-container {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .user-management-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .user-management-title {
      margin-bottom: 15px;
    }
  }
  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }
  .modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  .chard-paciente-main-cont img {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .chard-paciente-main-cont img:hover {
    transform: scale(1.05);
  }

  .clickable-photo {
    max-width: 1000px; 
    max-height: 670px; 
    width: auto;
    height: auto;
    object-fit: contain; 
  }